.heroBanner {
    min-height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: "";
        background-image: linear-gradient(180deg, #000000bd, rgba(0, 0, 0, 0.81));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .wrapper {
        position: relative;
        max-width: 700px;

        button {
            background-color: #000;
            color: #fff;
            padding: 8px 35px;
            border: none;
            border-radius: 5px;
            transition: all 0.3s;

            &:hover {
                background-color: #ffffff;
                color: #000;
            }
        }
    }
}