.signInComponent {
    background-image: url("../img/header.jpg");
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}