@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.featuredSection {
  border-bottom: 8px solid #222;
  padding: 70px 45px;

  .featuredTitle {
    font-size: 3.125rem;
  }

  .featuredSubTitle {
    font-size: 25px;
  }
}

.closeVideo {
  float: right;
  background-color: #e50914;
  display: inline-block;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@import "./styles/header/header.scss";
@import "./styles/header/heroSection.scss";
@import "./styles/faqs.scss";
@import "./styles/footer/footer.scss";
@import "./styles/signinform.scss";
@import "./styles/heroBanner.scss";
@import "./styles/netflixOriginals.scss";